[user]
	name = Konstantin Bogdnaov
	email = konstantin-b@yandex-team.ru

[core]
	excludesfile = /home/thevar1able/.gitignore_global

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "git://github.com/"]
	insteadOf = https://github.com/

[pull]
	ff = only

