[user]
	name = Konstantin Bogdnaov
	email = var1able@var1able.ru

[core]
	excludesfile = /home/thevar1able/.gitignore_global

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	ff = only
