[user]
	name = Konstantin Bogdanov
	email = var1able@var1able.ru
	signingkey = 32217A73EB950E9EE55036A3DB399448D9FE52F1

[core]
	excludesfile = /home/thevar1able/.gitignore_global
        fsmonitor = true
        untrackedcache = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	ff = only

[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
