[submodule "config/awesome/battery-widget"]
	path = awesome/.config/awesome/battery-widget
	url = https://github.com/deficient/battery-widget
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/plugins/zlong_alert.zsh"]
	path = zsh/plugins/zlong_alert.zsh
	url = https://github.com/kevinywlui/zlong_alert.zsh
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting/
