XTerm*faceSize: 10
XTerm*foreground: #F8F8F0
! XTerm*background: #222222
XTerm*background: #101010
! XTerm*background: #000000
xterm*faceName: xft:DejaVu Sans Mono:size=10:antialias=true:hinting=true
xterm*termName: xterm-256color
xterm*utf8: 1
XTerm*locale: true

Xft*antialiasing: true
Xft.dpi: 96
Xft.lcdfilter: lcddefault

! Black
*color0:  #2E3436
*color8:  #555753
! Red
*color1:  #CC0000
*color9:  #EF2929
! Green
*color2:  #4E9A06
*color10: #8AE234
! Yellow
*color3:  #C4A000
*color11: #FCE94F
! Blue
*color4:  #3465A4
*color12: #729FCF
! Purple
*color5:  #75507B
*color13: #AD7FA8
! Cyan
*color6:  #06989A
*color14: #34E2E2
! White
*color7:  #D3D7CF
*color15: #EEEEEC

